@model HH.ViewModels.LeadRiskVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="LeadRisk">
    <h3>Property Lead Risk</h3>
</div>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.yrbuilt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.yrbuilt)
    </dd>
    <br />

    <dt>
        @Html.DisplayNameFor(model => model.TimeStamp)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TimeStamp)
    </dd>
    <br />

    <dt>
        @Html.DisplayNameFor(model => model.name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.name)
    </dd>
    
</dl>

