@model HH.ViewModels.PropertiesViewModels
@{
    ViewBag.Title = "Results";
}

<h2>@ViewBag.Title.</h2>

<div class="title">
    <h1>Results</h1>
</div>

<div class="logo">
    @*<img src=" " id="toggle" />*@
</div>

<fieldset>
    <table>
        <tr>     
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.street)
             </th>
             <th></th>
             <th>
                 @Html.DisplayNameFor(model => model.yrbuilt)
             </th>
             <th></th>
             <th>
                 @Html.DisplayNameFor(model => model.parcel)
             </th>
             <th></th>
             <th>
                 @Html.DisplayNameFor(model => model.pclass)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.luc)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.luc_descr)
              </th>
              <th></th>
              <th>
                 @Html.DisplayNameFor(model => model.tract10)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.BLOCK10)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.BLOCKGR10)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.date)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.lsaleamt)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.towner)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAILNAME)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.mailname1)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_STREET_NUMBER)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_STREET_DIRECTION)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_STREET_NAME)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_STREET_SUFFIX)
              </th>
              <th></th>
              <th>
                 @Html.DisplayNameFor(model => model.MAIL_CITY)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_STATE)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.MAIL_ZIPCODE)
              </th>
              <th></th>
              <th>
                  @Html.DisplayNameFor(model => model.TOTAL_NET_DELQ_BALANCE)
              </th>
          </tr>
      </table>
  </fieldset>


@*[DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}", ApplyFormatInEditMode = true)]*@

    <div class="button">
        <button id="search">Click For Housing Health</button>
    </div>

    <div class="button">
        <button id="search">Refresh</button>
    </div>

    <div class="map">
        <a href="https://www.googlemaps.com">Area Map</a>
    </div>
