@model HH.ViewModels.PropertiesViewModels

<div id="form-fields">

    <br />

    <div id="ID" class="form-group">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.ID)
    </div>

    <div id="number" class="form-group">
        @Html.DisplayNameFor(m => m.Number)
        : @Html.DisplayFor(m => m.Number)
    </div>


    <div id="street" class="form-group">
        @Html.DisplayNameFor(m => m.Street)
        : @Html.DisplayFor(m => m.Street)
    </div>


    <div class="form-group">
        @Html.DisplayNameFor(m => m.Yrbuilt)
        : @Html.DisplayFor(m => m.Yrbuilt)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Parcel)
        : @Html.DisplayFor(m => m.Parcel)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Pclass)
        : @Html.DisplayFor(m => m.Pclass)
    </div>


    <div class="form-group">
        @Html.DisplayNameFor(m => m.Luc)
        : @Html.DisplayFor(m => m.Luc)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Luc_descr)
        : @Html.DisplayFor(m => m.Luc_descr)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Tract10)
        : @Html.DisplayFor(m => m.Tract10)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.BLOCK10)
        : @Html.DisplayFor(m => m.BLOCK10)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.BLOCKGR10)
        : @Html.DisplayFor(m => m.BLOCKGR10)
    </div>

  

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Lsaleamt)
        : $ @Html.DisplayFor(m => m.Lsaleamt)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Towner)
        : @Html.DisplayFor(m => m.Towner)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAILNAME)
        : @Html.DisplayFor(m => m.MAILNAME)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.Mailname1)
        : @Html.DisplayFor(m => m.Mailname1)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_STREET_NUMBER)
        : @Html.DisplayFor(m => m.MAIL_STREET_NUMBER)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_STREET_DIRECTION)
        : @Html.DisplayFor(m => m.MAIL_STREET_DIRECTION)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_STREET_NAME)
        : @Html.DisplayFor(m => m.MAIL_STREET_NAME)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_STREET_SUFFIX)
        : @Html.DisplayFor(m => m.MAIL_STREET_SUFFIX)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_CITY)
        : @Html.DisplayFor(m => m.MAIL_CITY)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_STATE)
        : @Html.DisplayFor(m => m.MAIL_STATE)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.MAIL_ZIPCODE)
        : @Html.DisplayFor(m => m.MAIL_ZIPCODE)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(m => m.TOTAL_NET_DELQ_BALANCE)
        : $ @Html.DisplayFor(m => m.TOTAL_NET_DELQ_BALANCE)
    </div>


    <div class="button">
        <input type="button" value="Search For Another Property" onclick="location.href='@Url.Action("Search", "Properties")'" class="btn btn-default" />
    </div>
    <br />
    <div class="button">
        <input type="submit" value="Save This Property" onclick="location.href='@Url.Action("SaveProperty", "Properties", new { id = Model.ID })'" class="btn btn-default">
    </div>
    <br />
    <div class="button">
        <input type="button" value="Save Property to Compare" onclick="location.href='@Url.Action("SavePropToCompare", "Properties", new { ID = Model.ID })'" onclick="location.href='@Url.Action("CompareProp", "Properties")'" class="btn btn-default" />
    </div>
    <br />
    <div class="button">
        <input type="button" value="Compare Properties" onclick="location.href='@Url.Action("CompareProp", "Properties", new { ID = Model.ID })'" class="btn btn-default" />
    </div>

</div>
<div class="map">
    @{ Html.RenderPartial("~/Views/Properties/SearchAddr.cshtml"); }
</div>
