@model HH.ViewModels.PropertiesViewModels
@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Search", "Properties", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="mapBox">
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <h5>Number</h5>
            @Html.TextBox("Number", null, new { @class = "form-control", id = "Number", autofocus = "autofocus", onFocus = "this.select()" })
            <h5>Street Name</h5>
            @Html.TextBox("Street", null, new { @class = "form-control", id = "Street" })
            <br />
            <input type="submit" value="Search" id="submitBtn" />
            <br />
            <div class="map">
                @{ Html.RenderPartial("~/Views/Properties/Map.cshtml"); }
            </div>
        </div>
    </div>
}