@model HH.ViewModels.PropertiesViewModels
@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Search", "Properties", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="mapBox">
        <div class="form-horizontal">
            @Html.LabelFor(m => m.Number)
            @Html.TextBoxFor(m => m.Number)

            @Html.LabelFor(m => m.Street)
            @Html.TextBoxFor(m => m.Street)

            <input type="submit" value="Search" id="submitBtn" /> <br />

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="map">
                @{ Html.RenderPartial("~/Views/Properties/Map.cshtml"); }
            </div>
        </div>
    </div>
}