
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="LeadRisk">
    <h2>Property Lead Risk</h2>
</div>


<dl>
    <dt>
        @Html.DisplayNameFor(model => model.yrbuilt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.yrbuilt)
    </dd>
    <br />

    <dt>
        @Html.DisplayNameFor(model => model.tract10)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.tract10)
    </dd>
    <br />

    <dt>
        @Html.DisplayNameFor(model => model.BLOCK10)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BLOCK10)
    </dd>
    <br />

    <dt>
        @Html.DisplayNameFor(model => model.AssociatedExplanation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AssociatedExplanation)
    </dd>

</dl>

