<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Housing Health Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>




<body>
    <div>
        <a href="#"><img src="~/images/ClevCodes-logo.png" /></a>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Search Property", "Index", "Home")
                        <ul>
                            <li><a href="#">Search History</a></li>
                            <li><a href="#">Saved Properties</a></li>
                        </ul>
                    </li>

                    <li>
                        @Html.ActionLink("Property Reports", "About", "Home")
                        <ul>
                            <li><a href="#">Lead Risks</a></li>
                            <li><a href="#">Other Hazards</a></li>
                            <li><a href="#">Other Issues</a></li>
                            <li><a href="#">Property Score</a></li>
                            <li><a href="#">History Score</a></li>
                            <li><a href="#">Compare Proprerties</a></li>
                        </ul>
                    </li>

                    <li>
                        @Html.ActionLink("Help", "Contact", "Home")
                        <ul>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>

                    <li>
                        @Html.ActionLink("About", "Contact", "Home")
                        <ul>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div>
            <a href="#"><img src="~/images/ClevCodes-logo.png" height="80" width="90" /></a>
        </div>*@
    <div class="container body-content">
        @RenderBody()

        <hr />




        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Housing Health </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
